Package: com.icraze.speedtestplusplus
Name: Ookla Speedtest++
Depends: mobilesubstrate
Version: 3.0
Architecture: iphoneos-arm
Description: Removes Ads In Ookla Speedtest
Maintainer: iCraze
Author: iCraze
Section: Tweaks
